@charset "UTF-8";
[hidden] { display: none !important; }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html { font-size: 16px; }

body { 
    font-family: "Noto Sans TC", "Microsoft JhengHei", sans-serif;
    font-weight: 700;

    user-select: none;
    cursor: default;
}

main {
    min-height: 100vh;
    background-color: black;

    display: flex;
    align-items: center;
    justify-content: center;
}

main > div {
    display: flex;

    justify-content: center;
    align-items: center;
}

#start-screen {
    flex-direction: column;
    gap: 1.5rem;

    color: white;
    font-size: 2rem;
    text-align: center;
}

.pos-btn,
#start-task-button {
    font-family: inherit;
    font-weight: inherit;
}

#start-task-button {
    color: white;
    background-color: transparent;

    width: 12rem;
    height: 3.5rem;

    font-size: 1.6rem;
    border: 2px solid white;
    border-radius: 2rem;

    cursor: pointer;
    transition: background-color 0.3s;
}

#start-task-button:hover {
    background-color: rgb(50, 50, 50);
}

#msg-screen {
    width: 80%;
    flex-direction: column;
    gap: 1.5rem;
}

#msg-title,
#msg-desc {
    color: white;
    text-align: center;
}

#msg-title {
    font-size: 4rem;
}

#msg-desc {
    white-space: pre-wrap;
    font-size: 3.2rem;
}

#fixation {
    color: white;
    font-size: 12rem;
    font-weight: 400;
    transform: translateY(-0.5rem);
}

#stimulus-screen {
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
    gap: 2rem;

    grid-template-areas:
    "top-left    top       top-right"
    "left        center    right"
    "bottom-left bottom    bottom-right";
}

#center-pos { grid-area: center; }
.pos-btn[data-pos="top-left"]     { grid-area: top-left; }
.pos-btn[data-pos="top"]          { grid-area: top; }
.pos-btn[data-pos="top-right"]    { grid-area: top-right; }
.pos-btn[data-pos="left"]         { grid-area: left; }
.pos-btn[data-pos="right"]        { grid-area: right; }
.pos-btn[data-pos="bottom-left"]  { grid-area: bottom-left; }
.pos-btn[data-pos="bottom"]       { grid-area: bottom; }
.pos-btn[data-pos="bottom-right"] { grid-area: bottom-right; }

.pos-btn,
#center-pos,
.correct-feedback {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pos-btn {
    color: white;
    background-color: transparent;
    border: 0;
}

.pos-btn:enabled {
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 0.4rem;
    cursor: pointer;

    transition: background-color 0.3s;
}

.pos-btn:enabled:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.pos-btn:enabled::after {
    content: "";
    width: 5rem;
    height: 5rem;

    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.correct-feedback {
    font-size: 1.6rem;
    border-radius: 0.4rem;
    background-color: rgba(255, 255, 255, 0.3);
}

.correct-feedback span {
    transform: translateY(-0.25rem);
}

.pos-btn img,
#center-pos img {
    object-fit: contain;
}

.pos-btn,
.pos-btn img,
#center-pos img,
.correct-feedback {
    width: 100%;
    height: 100%;
}